{% extends 'layouts/layoutgeneral.html.twig' %}

{% block title %}Accueil acteur{% endblock %}

{% block body %}
<div> {% include '/acteur/filtre.html.twig' %} </div>
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nom et prenom</th>
                <th>Date de naissance</th>
                <th>Nationalité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td>{{ acteur.nomPrenom }}</td>
                <td>{{ acteur.dateNaissance ? acteur.dateNaissance|date('m/d/Y') }}</td>
                <td>{{ acteur.nationalite }}</td>
                <td><a href="#" data-toggle="modal" data-target="#details-film"><i class="fas fa-eye"></i></a></td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
{% endblock %}